[master]
user deploy
host 128.199.170.128 128.199.244.193
path /var/www/html
ref heads/master
pre-rsync ./bin/pre-rsync
rsync-option -rlpDvcK
rsync-exclude .deploy/rsync-exclude
post-deploy /var/www/myapp.com/update.sh && /var/www/myapp.com/update.master.sh
umask 022

[develop]
host deploy@128.199.170.128 john@128.199.244.193
path /var/www/html
ref heads/develop
rsync-option -rlpDvcK
rsync-exclude .deploy/rsync-exclude
post-deploy /var/www/myapp.com/update.sh && /var/www/myapp.com/update.develop.sh

[webhook]
user deploy
host 128.199.132.104
port 10022
