[prod]
user rob
host 128.199.170.128 128.199.244.193
src build/
path /var/www/html
ref origin/master
pre-rsync ./bin/pre-rsync
post-deploy /var/www/html/bin/update.sh && /var/www/html/bin/update.prod.sh
umask 002

[stage]
host jimmy@128.199.170.128 jimmy@128.199.244.193
src build/
path /var/www/html
ref origin/develop
pre-rsync ./bin/pre-rsync
post-deploy /var/www/html/bin/update.sh && /var/www/html/bin/update.stage.sh
umask 002

[webhook]
user deploy
host 128.199.132.104
port 10022
